<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userNotifications">
            <h2><span jhiTranslate="gatorApp.userNotifications.detail.title">Notifications</span> {{userNotifications.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatorApp.userNotifications.notification">Notification</span></dt>
                <dd>
                    <span>{{userNotifications.notificationName}}</span>
                </dd>
                <dt><span jhiTranslate="gatorApp.userNotifications.filter">Filter</span></dt>
                <dd>
                    {{userNotifications.userSearchesName}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-notifications', userNotifications.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
