<button class="input-group-append btn btn-info" (click)="showHideFilters()">
    <fa-icon [icon]="'search'"></fa-icon>&nbsp;&nbsp;&nbsp;Filters
</button>
<div class="row" *ngIf="!isHidden">
    <div class="col-sm-12">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <select name="searchCategory" class="form-control" id="searchCategory" [(ngModel)]="searchCategory" (change)="loadAll()">
                    <option value="0">{{ 'gatorApp.item.home.searchCategory' | translate }}</option>
                    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
            </div>

            <div class="input-group w-100 mt-3">
                <select name="searchType" class="form-control" id="searchType" [(ngModel)]="searchType"  (change)="loadAll()">
                    <option value="undefined">{{ 'gatorApp.item.home.searchType' | translate }}</option>
                    <option value="0">{{ 'gatorApp.item.home.buy' | translate }}</option>
                    <option value="1">{{ 'gatorApp.item.home.sell' | translate }}</option>
                    <option value="2">{{ 'gatorApp.item.home.change' | translate }}</option>
                    <option value="3">{{ 'gatorApp.item.home.service' | translate }}</option>
                    <option value="4">{{ 'gatorApp.item.home.rent' | translate }}</option>
                </select>
                &nbsp;
                <select name="searchTimeToRefresh" class="form-control" id="searchTimeToRefresh" [(ngModel)]="searchTimeToRefresh"  (change)="refreshContent()">
                    <option value="3">{{ 'gatorApp.item.home.searchTimeToRefresh' | translate }}: 3</option>
                    <option value="6">{{ 'gatorApp.item.home.searchTimeToRefresh' | translate }}: 6</option>
                    <option value="10">{{ 'gatorApp.item.home.searchTimeToRefresh' | translate }}: 10</option>
                    <option value="30">{{ 'gatorApp.item.home.searchTimeToRefresh' | translate }}: 30</option>
                    <option value="60">{{ 'gatorApp.item.home.searchTimeToRefresh' | translate }}: 60</option>
                    <option value="1000">{{ 'gatorApp.item.home.searchTimeToRefresh' | translate }}: 1000</option>
                </select>
            </div>

            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatorApp.item.home.search' | translate }}">
                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                </button>
            </div>

            <div class="input-group w-100 mt-3" *ngIf="rates?.length > 0">
                {{ 'gatorApp.item.home.showRate' | translate }}:&nbsp;
                <div class="rate" *ngFor="let rate of rates;let i=index;">
                    <input type="checkbox" name="currency" id="rate{{rate.code}}" (change)="calcRates(rate.code, $event.target.checked);" [checked]="currencies.indexOf(rate?.code) > -1" value="{{rate.code}}" >
                    <label for="rate{{rate.code}}">{{rate.code}}</label>
                </div>
            </div>

        </form>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">

        <div class="alert alert-warning" *ngIf="items?.length === 0">
            <span jhiTranslate="gatorApp.item.home.notFound">No items found</span>
        </div>
        <div class="table-responsive vs" id="items-list" *ngIf="items?.length > 0">

            <table class="table table-striped" aria-describedby="page-heading">
                <tbody>
                <tr *ngFor="let item of items ;trackBy: trackId">
                    <td width="50" *ngIf="item?.image != null">
                        <img src="{{item.image}}" /></td>
                    <td>
                        <div class="lbl sell"*ngIf="item?.type == '1'">{{ 'gatorApp.item.home.sell' | translate }}</div>
                        <div class="lbl buy"*ngIf="item?.type == '0'">{{ 'gatorApp.item.home.buy' | translate }}</div>
                        <div class="lbl change"*ngIf="item?.type == '2'">{{ 'gatorApp.item.home.change' | translate }}</div>
                        <div class="lbl service"*ngIf="item?.type == '3'">{{ 'gatorApp.item.home.service' | translate }}</div>
                        <div class="lbl rent"*ngIf="item?.type == '4'">{{ 'gatorApp.item.home.rent' | translate }}</div>
                        <div class="lbl important"*ngIf="item?.type == '5'">important</div>
                        <div class="lbl xclosed"*ngIf="item?.type == '6'">closed</div>
                        <a href="{{item.link}}" ngbTooltip="{{item.description}}">{{item.title}}</a>
                        <div class="price" *ngIf="item?.price != null">({{item.price}} p. <span *ngFor="let rate of currencies;"> | {{convertPrice(item.price, rate)}}</span> )</div>
                        <div class="date">- {{item.updatedAt | date:'dd.MM.yyyy HH:mm'}} </div>
                        <div class="dir" *ngIf="item?.categoryName != ''"> / {{item.categoryName}}</div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>


    </div>
</div>
