<div class="row">
    <div class="col-sm-12">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatorApp.item.home.search' | translate }}">
                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                </button>
            </div>
        </form>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">

        <div class="alert alert-warning" *ngIf="items?.length === 0">
            <span jhiTranslate="gatorApp.item.home.notFound">No items found</span>
        </div>
        <div class="table-responsive vs" id="items-list" *ngIf="items?.length > 0">

            <table class="table table-striped" aria-describedby="page-heading">
                <tbody>
                <tr *ngFor="let item of items ;trackBy: trackId">
                    <td width="50" *ngIf="item?.image != null"><img src="{{item.image}}" /></td><td><a href="{{item.link}}" ngbTooltip="{{item.description}}">{{item.title}}</a> <div class="price" *ngIf="item?.price != null">({{item.price}} p.)</div> <div class="date">- {{item.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}} </div> <div class="dir" *ngIf="item?.categoryName != ''"> / {{item.categoryName}}</div></td>
                </tr>
                </tbody>
            </table>

        </div>


    </div>
</div>
