<div class="row">
    <div class="col-md-12">

        <div class="alert alert-warning" *ngIf="items?.length === 0">
            <span jhiTranslate="gatorApp.item.home.notFound">No items found</span>
        </div>
        <div class="table-responsive vs" id="items-list" *ngIf="items?.length > 0">

            <table class="table table-striped" aria-describedby="page-heading">
                <tbody>
                <tr *ngFor="let item of items ;trackBy: trackId">
                    <td><a href="{{item.link}}">{{item.title}}</a> ({{item.price}}) - {{item.updatedAt | date:'dd/MM/yyyy hh:mm:ss'}} </td>
                </tr>
                </tbody>
            </table>

        </div>


    </div>
</div>
