<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notifications">
            <h2><span jhiTranslate="gatorApp.notifications.detail.title">Notifications</span> {{notifications.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatorApp.notifications.name">Name</span></dt>
                <dd>
                    <span>{{notifications.name}}</span>
                </dd>
                <dt><span jhiTranslate="gatorApp.notifications.title">Title</span></dt>
                <dd>
                    <span>{{notifications.title}}</span>
                </dd>
                <dt><span jhiTranslate="gatorApp.notifications.isActive">Is Active</span></dt>
                <dd>
                    <span>{{notifications.isActive}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notifications', notifications.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
